network:
    version: 2
    ethernets:
        eth1:                                    
            nameservers:
                addresses:
                - {{ rainbow_ralph }}               
                - {{ silver_boi }}               
                search: [ {{ dns_zone_name }} ]