configs:
  ghcr.io:
    auth:
      username: _json_key
      password: {{ ghcr_token }}
  docker.io: {}
# TODO: Add docker.io registry
# TODO: Add quay.io registry
# TODO: Add gcr.io registry
# TODO: Add ghcr.io registry
# TODO: Add ecr.io registry
# TODO: Add artifactory.jfrog.io registry
# TODO: Add artifactory.jfrog.io registry