$TTL    604800
@       IN      SOA     rainbow-ralph.{{ dns_zone_name }}. admin.{{ dns_zone_name }}. (
                              3         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL
;

; name servers - NS records
    IN      NS      rainbow-ralph.{{ dns_zone_name }}.
    IN      NS      silver-boi.{{ dns_zone_name }}.

; PTR Records
{{ rainbow_ralph.split('.')[-1] }}  IN      PTR     ns1.nyc3.example.com.    ; 10.128.10.11
{{ silver_boi.split('.')[-1] }}  IN      PTR     ns2.nyc3.example.com.    ; 10.128.20.12
{{ black_phillip.split('.')[-1] }} IN      PTR     host1.nyc3.example.com.  ; 10.128.100.101
{{ macbook.split('.')[-1] }} IN      PTR     host2.nyc3.example.com.  ; 10.128.200.102