zone "{{ dns_zone_name }}" {
    type slave;
    file "/etc/bind/zones/db.{{ dns_zone_name }}";
    masters { {{ raibow_ralph }}; };
};

zone "{{ network_reverse_octect }}.in-addr.arpa" {
    type slave;
    file "/etc/bind/zones/db.{{ network_reverse_octect }}"; 
    masters { {{ raibow_ralph }}; };
};