zone "{{ dns_zone_name }}" {
    type primary;
    file "/etc/bind/zones/db.{{ dns_zone_name }}";
    allow-transfer { {{ silver_boi }}; };
};

zone "{{ network_reverse_octect }}.in-addr.arpa" {
    type primary;
    file "/etc/bind/zones/db.{{ network_reverse_octect }}"; 
    allow-transfer { {{ silver_boi }}; };
};